[submodule "opensbi"]
	path = opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/u-boot/u-boot.git
[submodule "linux"]
	path = linux
	url = https://github.com/torvalds/linux.git
[submodule "linux-stable"]
	path = linux-stable
	url = https://git.kernel.org/pub/scm/linux/kernel/git/stable/linux-stable.git
